 <footer class="footer">
  <div> -Mauricio Palomares -Andres Aguero
        © 2022</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
      </footer>