<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <form class="row g-3 needs-validation" action="/cambiar_password/registro" method="post" novalidate>
  
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Nueva contraseña (mín. 6 caracteres)</label>
    <input type="password" class="form-control" id="validationCustom03" name="password" placeholder="******" required>
    <div class="invalid-feedback">
      Use al menos 6 caracteres. 
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustomUsername" class="form-label">Repita la contraseña</label>
    <div class="input-group has-validation">
      <input type="password" class="form-control" name="password2" placeholder="******" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Por favor repita la contraseña
      </div>
    </div>
  </div>
  {{!-- <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div> --}}
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Agregar usuario</button>
  </div>
</form>
        </div>
      </div>
     {{> footer}}
    </div>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
    </script>
