
{{> sidebar}}
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{> header}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card" style="width: 16rem;">
                <img src="/img/ISC-Portal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ing. en Sistemas Computacionales</h5>

                  <a href="/materias?materia=ISC" class="btn btn-success stretched-link">Ver materias</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card" style="width: 16rem;">
                <img src="/img/IM-Portal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ing. Mecatrónica</h5>
<br>
                  <a href="/materias?materia=IM" class="btn btn-success stretched-link">Ver materias</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card" style="width: 16rem;">
                <img src="/img/ISA-Portal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ing. en Sistemas Automotrices</h5>

                  <a href="/materias?materia=ISA" class="btn btn-success stretched-link">Ver materias</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card" style="width: 16rem;">
                <img src="/img/IIS-Portal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ing. Industrial y de Sistemas</h5>

                  <a href="/materias?materia=IIS" class="btn btn-success stretched-link">Ver materias</a>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
          
          <!-- /.row-->
        </div>
      </div>
      

     {{> footer}}
    </div>


