
{{> sidebar}}
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{> header}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <form>
            <label>Nombre de la materia</label>
            <input class="form-control form-control-lg" type="text" name="nombre" value="{{nombre}}" disabled aria-label=".form-control-lg example">
            <input class="form-control form-control-lg" type="text" name="periodo" value="{{periodo}}" disabled aria-label=".form-control-lg example">
            <input class="form-control form-control-lg" type="text" name="tipo" value="{{tipo}}" disabled aria-label=".form-control-lg example">
          </form>
        </div>
      </div>
     {{> footer}}
    </div>
